<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>cn.how2j.javaweb.HelloServlet</servlet-class>
        <init-param>
            <param-name>author</param-name>
            <param-value>how2j(servlet)</param-value>
        </init-param>
        <init-param>
            <param-name>site</param-name>
            <param-value>http://how2j.cn(servlet)</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>cn.how2j.javaweb.ParamServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/param</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HeaderServlet</servlet-name>
        <servlet-class>cn.how2j.javaweb.HeaderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HeaderServlet</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetCookieServlet</servlet-name>
        <servlet-class>cn.how2j.javaweb.SetCookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetCookieServlet</servlet-name>
        <url-pattern>/setCookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCookieServlet</servlet-name>
        <servlet-class>cn.how2j.javaweb.GetCookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCookieServlet</servlet-name>
        <url-pattern>/getCookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetSessionServlet</servlet-name>
        <servlet-class>cn.how2j.javaweb.SetSessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SetSessionServlet</servlet-name>
        <url-pattern>/setSession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetSessionServlet</servlet-name>
        <servlet-class>cn.how2j.javaweb.GetSessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetSessionServlet</servlet-name>
        <url-pattern>/getSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientJumpServlet</servlet-name>
        <servlet-class>cn.how2j.javaweb.ClientJumpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientJumpServlet</servlet-name>
        <url-pattern>/jump1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServerJumpServlet</servlet-name>
        <servlet-class>cn.how2j.javaweb.ServerJumpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerJumpServlet</servlet-name>
        <url-pattern>/jump2</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>URLFilter</filter-name>
        <filter-class>cn.how2j.javaweb.URLFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>URLFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PfmFilter</filter-name>
        <filter-class>cn.how2j.javaweb.PfmFilter</filter-class>
        <init-param>
            <param-name>author</param-name>
            <param-value>how2j(filter)</param-value>
        </init-param>
        <init-param>
            <param-name>site</param-name>
            <param-value>http://how2j.cn(filter)</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PfmFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>